In [1]:
import pymoldis
import pandas as pd

df=pymoldis.get_data('bigqm7w_S1T1')

In [2]:
diff_S1=df['S1_SCSPBEQIDH(eV)']-df['S1_ADC2(eV)'] 
diff_T1=df['T1_SCSPBEQIDH(eV)']-df['T1_ADC2(eV)'] 
diff_S1T1=(df['S1_SCSPBEQIDH(eV)']-df['T1_SCSPBEQIDH(eV)'])-(df['S1_ADC2(eV)'] -df['T1_ADC2(eV)'] )

In [3]:
diff=pd.concat([diff_S1, diff_T1, diff_S1T1],axis=1)
diff.columns=['Delta S1 (DFT-ADC2) (eV)','Delta T1(DFT-ADC2) (eV)','Deta S1T1 (DFT-ADC2) (eV)']
diff.describe()

,Delta S1 (DFT-ADC2) (eV),Delta T1(DFT-ADC2) (eV),Deta S1T1 (DFT-ADC2) (eV)
count,12879.000000,12879.000000,12879.000000
mean,0.225287,-0.019700,0.244987
std,0.200231,0.199748,0.234304
min,-0.383320,-0.746130,-0.243667
25%,0.110871,-0.158107,0.070676
50%,0.204049,-0.053379,0.214514
75%,0.317770,0.087925,0.363360
max,1.441230,0.931055,1.580277